<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need)</span></div>

# What to expect in this chapter

# 1 The for iterator

In [38]:
real_names = ["Natasha Romanoff","Tony Stark", "Stephen Strange"] + ["Peter Parker","Johnny Storm"]

In [ ]:
print(real_names[0])
print(real_names[1])        #lengthy, not possible for long lists
print(real_names[2])

Natasha Romanoff
Tony Stark
Stephen Strange

In [ ]:
count = 0           #put outside of "for name in [..]"
for name in real_names:
    print('--'*10)
    count += 1          #adds 1 to each count, needs to be in the loop to work (within tab)
    print(count,name)

--------------------
1 Natasha Romanoff
--------------------
2 Tony Stark
--------------------
3 Stephen Strange

In [ ]:
for i in [0,1,2]:           #difficult if there are a lot of names
    print(i+1,real_names[i])

1 Natasha Romanoff
2 Tony Stark
3 Stephen Strange

In [ ]:
for i in range(4):          #needs to be modified if new names are added to list
    print(i+1,real_names[i])

1 Natasha Romanoff
2 Tony Stark
3 Stephen Strange
4 Peter Parker

In [ ]:
for i in range(len(real_names)):          #Same code works even when new names added
    print(i+1, real_names[i])

1 Natasha Romanoff
2 Tony Stark
3 Stephen Strange
4 Peter Parker
5 Johnny Storm

In [41]:
super_names = ["Black Widow","Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

for i in range (len(real_names)):
    print(i+1, f'{super_names[i]} is {real_names[i]}')

1 Black Widow is Natasha Romanoff
2 Iron Man is Tony Stark
3 Doctor Strange is Stephen Strange

## 1.1 for with a list

In [ ]:
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

## 1.2 for with enumerate

In [26]:
all_names = ""
for count, name in enumerate(real_names, start=1):
    first_name, last_name =  name.split()         #Splitting the name into two and assigning them
    all_names += f'{count}. {last_name} {last_name.upper()}\n'
print(all_names)   #no longer on the same tab, not under "for count.."

1. Romanoff ROMANOFF
2. Stark STARK
3. Strange STRANGE

## 1.3 for with range

In [43]:
for i in range (6,10,2):
    print(i)

6
8

In [2]:
import numpy as np

In [11]:
fruit_names = ["Apple","Kiwi","Banana"]
fruit_colours = ["Red","Green","Yellow"]

In [12]:
for i in range(len(fruit_names)):
    fruit = fruit_names[i]
    colour = fruit_colours[i]
    print(f'{fruit} is {colour}!')

Apple is Red!
Kiwi is Green!
Banana is Yellow!

# 2 while

In [48]:
import numpy as np

In [58]:
x=1
for _ in range(5):
    print(
        f'{x*180/np.pi=:.10f}', 
        f'{np.sin(x)=:.8f}', 
        f'{np.tan(x)=:.8f}',
        np.isclose(np.sin(x), np.tan(x))
        )
    x /= 2

x*180/np.pi=57.2957795131 np.sin(x)=0.84147098 np.tan(x)=1.55740772 False
x*180/np.pi=28.6478897565 np.sin(x)=0.47942554 np.tan(x)=0.54630249 False
x*180/np.pi=14.3239448783 np.sin(x)=0.24740396 np.tan(x)=0.25534192 False
x*180/np.pi=7.1619724391 np.sin(x)=0.12467473 np.tan(x)=0.12565514 False
x*180/np.pi=3.5809862196 np.sin(x)=0.06245932 np.tan(x)=0.06258151 False